.cookie-input {
    border: #f2990a;
    content-align: center middle;
}
.welcome-label {
    content-align: center middle;
    text-style: bold;
}
.start-voting {
    content-align: center middle;
    text-style: bold;
}